@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
  min-width: 920px;
  display:flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
}
