@import url(./__description/cards__description.css);
@import url(./__image/cards__image.css);
@import url(./__item/cards__item.css);
@import url(./__title/cards__title.css);

.cards {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-left: 0;
}
