@import url("./_theme/section-subtitle_theme_dark.css");
.section-subtitle {
  margin-top: 20px;
  margin-bottom: 0px;
  min-width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  justify-content: center;
}
