@import url("./__link/feynman__link.css");
@import url("./__main-illustration/feynman__main-illustration.css");
@import url("./__subtitle/feynman__subtitle.css");
@import url("./__title/feynman__title.css");
.feynman {
  background-color: #f2f2f2;
  position: relative;
  display: block;
  justify-content: center;
  min-height: 790px;
  align-items: center;
  margin: 0 auto;
  z-index: 1;
  padding-top: 80px;
}
